.headerContainer{
    width: 100vw;
    height: 25vh;
    border: 1px solid black;
    background-color: #58b4ee ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pokeballImg{
    height: 25vh;
    width: 20vw;
}
h1{
    font-size: 45pt;
}
.backOfThePage{
    background-color: #e5c531;
    height: 100vh;
    width: 100vw;
}

/* ---------------image for the pokemon---------------- */
#pokeImg{
    border: solid 2px black;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 350px;
}
